#idiomas {
    margin-top: -480px;
    margin-left: 1200px;
 
}

#texto{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:  'Calibri', sans-serif;
    color: #FB2673;
}
.conteudo{
    text-align: center;
align-items: center;
justify-content: center;
margin-top: 20px;

}

.conteudo1{
    font-family: 'Calibri', sans-serif ;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #C8E9FF;
    width: 500px;
    height: 400px;

    margin-left: 500px;

}
li{
color: white;
}
.menu {
    cursor: pointer;
    margin-top: -460px;
    margin-left: 1200px;
}




 